<h4><%= question.title%> </h4>
 <% if current_user.try(:admin?)%>
    <%=link_to "Editar pregunta", edit_training_quiz_question_path(question.quiz.training, question.quiz,question)%>
    <%=link_to "Aregar opcion", new_training_quiz_question_option_path(question.quiz.training, question.quiz, question)%> 
  <%end%>  
<%=render question.options%>