<footer class="linea_color bg-primary text-center  p-3">
    <p > Todos los derechos reservados.</p>
    
</footer>
<div class="linea_color">
<img src="/assets/linea_color6.jpg"  class="img-fluid" alt="Responsive image" />
</div>