<%# 
<div div class="imagen_principal img-fluid">
   <div>Registrate y Certificate con Bosch </div> 
 </div> %>

  <div class="img_principal">
 

    			<div class="col  align-items-center text-center">
         <h1 class="mt-3 text-light"> Registrate y certificate con <strong><span id="bosch"> Bosch </span> <strong></h1>
    		
            <%= link_to 'Registrarse', new_user_registration_path, class:"btn_registro btn btn-primary btn-lg  align-items-center" %>
   		   </div>	
  </div>


  <div class="">
  <%= render "shared/card"%>
  </div>